apiVersion: ocular.crashoverride.run/v1beta1
kind: ClusterCrawler
metadata:
  name: ecr
spec:
  container:
    image: crawlers
    name: ecr
    resources: {}
    volumeMounts:
    - mountPath: /ocular/aws/config
      name: ecr-file-secrets
      readOnly: true
      subPath: aws-config
  parameters:
  - description: AWS region of the ECR repository. Defaults to the region configured
      in the AWS SDK.
    name: AWS_REGION
    required: false
  - description: ARN of the role to assume for accessing the ECR repository. Optional.
    name: AWS_PROFILE
    required: false
  - default: "1"
    description: Maximum number of tags (versions) to retrieve per image. Will retrieve
      the latest N tags for each ECR image and start a new pipeline for each. Set
      to 0 to retrieve all versions. Defaults to 1.
    name: RECENT_TAG_LIMIT
    required: false
  - description: Profile to use for the pipelines created from this crawler.
    name: PROFILE
    required: true
  - default: 1m
    description: Duration to sleep between requests. Will be parsed as a time.Duration.
    name: SLEEP_DURATION
    required: false
  - default: 168h
    description: TTL for the pipelines created by this crawler. Will be parsed as
      a time.Duration.
    name: PIPELINE_TTL
    required: false
  - description: Override the downloader for the crawler. By default, it will be chosen
      based on the crawler type.
    name: DOWNLOADER_OVERRIDE
    required: false
  - default: Downloader
    description: Set the kind for the downloader override, either Downloader or ClusterDownloader(default
      is Downloader)
    name: DOWNLOADER_OVERRIDE_KIND
    required: false
  - description: Service account to use for the pipelines created from this crawler.
    name: SCAN_SERVICE_ACCOUNT
    required: false
  - description: Service account to use for the uploaders in the pipelines created
      from this crawler.
    name: UPLOAD_SERVICE_ACCOUNT
    required: false
  volumes:
  - name: ecr-file-secrets
    secret:
      optional: true
      secretName: crawler-secrets
