apiVersion: ocular.crashoverride.run/v1beta1
kind: ClusterCrawler
metadata:
  name: static-list
spec:
  container:
    image: crawlers
    name: static-list
    resources: {}
  parameters:
  - description: New line separated list of target identifiers to crawl.
    name: TARGET_IDENTIFIERS
    required: true
  - description: Downloader to use for the crawled targets. (required for StaticList
      crawler)
    name: DOWNLOADER_OVERRIDE
    required: true
  - description: Profile to use for the pipelines created from this crawler.
    name: PROFILE
    required: true
  - default: 1m
    description: Duration to sleep between requests. Will be parsed as a time.Duration.
    name: SLEEP_DURATION
    required: false
  - default: 168h
    description: TTL for the pipelines created by this crawler. Will be parsed as
      a time.Duration.
    name: PIPELINE_TTL
    required: false
  - default: Downloader
    description: Set the kind for the downloader override, either Downloader or ClusterDownloader(default
      is Downloader)
    name: DOWNLOADER_OVERRIDE_KIND
    required: false
  - description: Service account to use for the pipelines created from this crawler.
    name: SCAN_SERVICE_ACCOUNT
    required: false
  - description: Service account to use for the uploaders in the pipelines created
      from this crawler.
    name: UPLOAD_SERVICE_ACCOUNT
    required: false
