apiVersion: ocular.crashoverride.run/v1beta1
kind: Uploader
metadata:
  name: s3
spec:
  container:
    env:
    - name: AWS_CONFIG_FILE
      value: /ocular/aws/config
    image: default-uploaders:latest
    name: s3
    resources: {}
    volumeMounts:
    - mountPath: /ocular/aws/config
      name: uploaders-s3-file-secrets
      readOnly: true
      subPath: aws-config
  parameters:
  - description: PipelineName of the S3 bucket to upload to.
    name: BUCKET
    required: true
  - description: AWS region of the S3 bucket. Defaults to the region configured in
      the AWS SDK.
    name: REGION
    required: false
  - default: '{{ .PipelineName }}'
    description: Template for the folder structure in the S3 bucket. Supports placeholders
      like {{ .PipelineName }}, {{ .TargetID }}, {{ .TargetVersion }}. Using '/' in
      the template will create nested folders. Defaults to '{{ .PipelineName }}'.
    name: FOLDER_TEMPLATE
    required: false
  volumes:
  - name: uploaders-s3-file-secrets
    secret:
      optional: true
      secretName: uploaders-secrets
status: {}
