apiVersion: ocular.crashoverride.run/v1beta1
kind: Downloader
metadata:
  name: docker
spec:
  container:
    env:
    - name: DOCKER_CONFIG
      value: /ocular/docker
    image: downloaders
    name: docker
    resources: {}
    volumeMounts:
    - mountPath: /ocular/docker/config.json
      name: docker-file-secrets
      readOnly: true
      subPath: dockerconfig
  metadataFiles:
  - /mnt/metadata/docker.json
  - /mnt/metadata/chalk.json
  volumes:
  - name: docker-file-secrets
    secret:
      optional: true
      secretName: downloader-secrets
