apiVersion: ocular.crashoverride.run/v1beta1
kind: ClusterDownloader
metadata:
  name: git
spec:
  container:
    env:
    - name: GITHUB_APP_PRIVATE_KEY
      valueFrom:
        secretKeyRef:
          key: github-app-private-key
          name: downloader-secrets
          optional: true
    - name: GITHUB_APP_ID
      valueFrom:
        secretKeyRef:
          key: github-app-id
          name: downloader-secrets
          optional: true
    image: downloaders
    name: git
    resources: {}
    volumeMounts:
    - mountPath: /etc/ocular/gitconfig
      name: git-file-secrets
      readOnly: true
      subPath: gitconfig
  metadataFiles:
  - /mnt/metadata/git.json
  volumes:
  - name: git-file-secrets
    secret:
      optional: true
      secretName: downloader-secrets
