apiVersion: ocular.crashoverride.run/v1beta1
kind: Downloader
metadata:
  name: git
spec:
  container:
    image: default-downloaders:latest
    name: git
    resources: {}
    volumeMounts:
    - mountPath: /etc/gitconfig
      name: downloaders-git-file-secrets
      readOnly: true
      subPath: gitconfig
  metadataFiles:
  - /mnt/metadata/git.json
  volumes:
  - name: downloaders-git-file-secrets
    secret:
      optional: true
      secretName: downloaders-secrets
status: {}
