name: release
on:
  release:
    types: [created, edited]

permissions:
  contents: read

env:
  SUFFIX: ${{ github.event.release.prerelease && '-prerelease' || '' }}
  RELEASE_NAME: ${{ github.event.release.name }}

jobs:
  publish-definitions:
    name: publish definitions
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v5
      - name: setup go
        uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c # v5
        with:
          go-version-file: 'go.mod'
          cache-dependency-path: 'go.sum'
      - name: generate manifest
        run: |
          make build-installer OCULAR_DEFAULTS_VERSION="$RELEASE_NAME$SUFFIX"
          mv dist/install.yaml ocular-default-integrations${SUFFIX}.yaml
      - name: Upload Release Asset
        uses: softprops/action-gh-release@a06a81a03ee405af7f2048a818ed3f03bbf83c7b # v2
        with:
          files: ocular-default-integrations${{ env.SUFFIX }}.yaml
  publish-docker:
    name: publish docker images
    runs-on: ubuntu-latest
    strategy:
      matrix:
        integration: [crawlers, downloaders, uploaders]
      fail-fast: false
    permissions:
      packages: write
      contents: read
#      id-token: write
    env:
      IMAGE_REPOSITORY: "ghcr.io/${{ github.repository_owner }}/ocular-default-${{ matrix.integration }}"
    steps:
      - name: checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v5
        with:
          persist-credentials: false
      - name: Login to GitHub Container Registry
        uses: docker/login-action@5e57cd118135c172c3672efd75eb46360885c0ef # v3
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Set up Chalk
        uses: crashappsec/setup-chalk-action@6422f6cf3b5a61443c121a48fbca0d8d020b8ad6 # main
        continue-on-error: true
      - name: setup qemu
        uses: docker/setup-qemu-action@c7c53464625b32c7a7e944ae62b3e17d2b600130 # v3
      - name: setup buildx
        uses: docker/setup-buildx-action@8d2750c68a42422c14e847fe6c8ac0403b4cbd6f # v3
      - name: docker build
        id: docker-build
        uses: docker/build-push-action@263435318d21b8e681c14492fe198d362a7d2c83 # v6
        with:
          build-args: |
            INTEGRATION=${{ matrix.integration }}
            LDFLAGS=-s -w -X main.version=${{ github.event.release.tag_name }} -X main.buildTime=${{steps.date.outputs.date}} -X main.gitCommit=${{ github.sha }}
          platforms: linux/arm64,linux/amd64,linux/s390x,linux/ppc64le
          push: true
          tags: |
            ${{ env.IMAGE_REPOSITORY }}:${{ env.RELEASE_NAME }}${{ env.SUFFIX }}
            ${{ env.IMAGE_REPOSITORY }}:latest${{ env.SUFFIX }}
          cache-from: type=gha
          cache-to: type=gha,mode=max